html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background: #020408;
  color: #ffffff;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

